	<meta charset="utf-8" />
	<title>U: 유컴패니온 인트라넷</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="keywords" content="U: 유컴패니온 인트라넷" />
	<link rel="shortcut icon" href="./../../assets/images/app/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css" />
	<% if (layoutTemplate) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/layout.<%= layoutTemplate %>.css"><% } %>
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/page.<%= pageStyle %>.css"><% } %>
	<script type="text/javascript" src="./../../assets/js/bui.js"></script>
	<script type="text/javascript" src="./../../assets/js/bui.template.js" defer></script>
	<% if (pageJavascript) { %><script type="text/javascript" defer src="./../../assets/js/page.<%= pageJavascript %>.js"></script><% } %>