		<!-- page-head -->
		<div class="page-head" id="head">
			<h1 class="page-title" id="pageTitle"><span class="page-name"><abbr title="Basic User Interpace">BUI</abbr></span></h1>
		</div>
		<!-- //page-head -->
		<hr />