<!-- content-popup -->
<div data-bui-toggle="contentsPopup" class="content-popup module-a style-b type-a medium" id="cancelOrder">
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">주문취소</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<form class="popup-content-body">
						<!-- info-board -->
						<div class="info-board module-temp type-a">
							<div class="board-wrap">
								<div class="board-head">
									<p class="board-subject"><span class="board-name">주문취소를 요청하시겠습니까?</span></p>
									<p class="board-summary"><em class="em accent-02">주문취소 후 발생하는 불이익에 대해서는 책임지지 않습니다.</em></p>
								</div>
							</div>
						</div>
						<!-- //info-board -->
						<!-- submit-form -->
						<fieldset class="submit-form module-a type-c">
							<legend>주문취소 요청 서식</legend>
							<div class="form-list">
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="reasonForCancel">취소사유 <strong class="em accent-01">*</strong></label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form select module-a style-b type-line normal-03 large flex">
													<select class="form-elem" id="reasonForCancel">
														<option>선택</option>
													</select>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="detailedReason">상세사유</label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textarea module-a style-b type-line normal-03 large flex">
													<textarea class="form-elem" id="detailedReason" cols="40" rows="5" placeholder="상세사유를 입력해주세요."></textarea>
													<span class="form-func">
														<span class="form-count"><span class="value">0</span>/150</span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-util">
								<!-- button-display -->
								<div class="button-display module-a style-a type-a">
									<span class="button-area">
										<button class="btn module-b style-b type-fill large-2x accent-01 flex" type="submit"><span class="btn-text">요청하기</span></button>
									</span>
								</div>
								<!-- //button-display -->
							</div>
						</fieldset>
						<!-- //submit-form -->
					</form>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //content-popup -->