<!-- content-popup -->
<div data-bui-toggle="contentsPopup" class="content-popup module-a style-b type-a medium" id="shippingInfo">
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">배송 안내</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<p class="para normal-02">배송 예정일 (평일 기준, 주말 공휴일 제외)</p>
						<!-- order-list -->
						<ul class="order-list module-a type-a small-1x normal-01">
							<li class="order-item ">배송소요시간
								<ul class="data-list module-a type-c normal-02 small-2x">
									<li class="data-item">출고 후 1~3일 정도 소요 될 수 있습니다.</li>
									<li class="data-item">배송일 지정이 불가한 점 양해 부탁드립니다.</li>
									<li class="data-item">택배사의 사정으로 인한 배송지연이 발생할 수 있습니다.</li>
								</ul>
							</li>
							<li class="order-item">제주/도서 지역
								<ul class="data-list module-a type-c normal-02 small-2x">
									<li class="data-item">평균 배송일 보다 1~2일 정도 더 소요될 수 있습니다.</li>
								</ul>
							</li>
							<li class="order-item">주문변경
								<ul class="data-list module-a type-c normal-02 small-2x">
									<li class="data-item">[출고준비중] 상태 부터는 주문취소 / 옵션변경 / 배송지 변경이 제한 됩니다.</li>
								</ul>
							</li>
						</ul>
						<!-- //order-list -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //content-popup -->