<!-- content-popup -->
<div data-bui-toggle="contentsPopup" class="content-popup module-a style-b type-a medium" id="changeShippingAddress">
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">배송지 변경</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<form class="popup-content-body">
						<!-- submit-form -->
						<fieldset class="submit-form module-a type-c">
							<legend>배송지 정보 입력 서식</legend>
							<div class="form-list">
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="shippingRecipient">수령인</label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textfield module-a style-b type-line normal-03 large flex"><input class="form-elem" id="shippingRecipient" type="text" value="유컴패니온" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="shippingRecipientContact">연락처</label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textfield module-a style-b type-line normal-03 large flex"><input class="form-elem" id="shippingRecipientContact" type="tel" value="01012345678" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="shippingRecipientAddress">주소</label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textfield module-a style-b type-line normal-03 large flex">
													<input class="form-elem" type="text" id="shippingRecipientAddress" readonly="readonly" value="123456" />
												</span>
												<a class="btn module-b style-b type-fill normal-02 large" href="#"><span class="btn-text">우편번호검색</span></a>
											</div>
											<div class="form-area">
												<span class="form textfield module-a style-b type-line normal-03 large flex">
													<input class="form-elem" type="text" readonly="readonly" value="서울 강남구 논현로28길 45" />
												</span>
											</div>
											<div class="form-area">
												<span class="form textfield module-a style-b type-line normal-03 large flex">
													<input class="form-elem" type="text" placeholder="상세 주소를 입력해주세요." value="3, 4층" />
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-item">
									<div class="form-wrap">
										<div class="form-head"><label class="form-name" for="shippingRequirements">요청사항</label></div>
										<div class="form-body">
											<div class="form-area">
												<span class="form textarea module-a style-b type-line normal-03 large flex">
													<textarea class="form-elem" id="shippingRequirements" cols="40" rows="3" placeholder="요청사항을 입력해주세요."></textarea>
													<span class="form-func">
														<span class="form-count"><span class="value">0</span>/150</span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-util">
								<!-- button-display -->
								<div class="button-display module-a style-a type-a">
									<span class="button-area">
										<button class="btn module-b style-b type-fill large-2x accent-01 flex" type="submit"><span class="btn-text">변경하기</span></button>
									</span>
								</div>
								<!-- //button-display -->
							</div>
						</fieldset>
						<!-- //submit-form -->
					</form>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //content-popup -->