<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'goods-display'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<div class="section">
						<div class="section-body">
							<!-- goods-display -->
							<div class="goods-display module-a style-a type-d">
								<div class="goods-list">
									<div class="goods-item">
										<div class="goods-wrap">
											<!-- <div class="goods-select"><span class="form moudle-a style-b accent-01 small-1x"><input class="form-elem" type="check" /></span></div> -->
											<div class="goods-figure"><a href="#" class="goods-cover"><img class="thumbnail" src="../../../assets/images/@temp/img_goods-01.png" alt="상품이미지" /></a></div>
											<div class="goods-inform">
												<div class="goods-head">
													<!-- <p class="goods-caption"></p> -->
													<p class="goods-order-number"><span class="head">주문번호</span><span class="body">20000202020200</span></p>
													<p class="goods-subject"><strong class="goods-name">베이직 수딩플러스 앰플 55ml 셋트옵션2</strong></p>
													<!-- <p class="goods-summary"></p> -->
												</div>
												<div class="goods-sale">
													<div class="data-list">
														<!-- <span class="data-item">
															<span class="data-head">정가</span>
															<del class="data-body"><span class="text">10,000</span><span class="unit">원</span></del>
														</span> -->
														<span class="data-item price">
															<span class="data-head">판매가</span>
															<span class="data-body"><span class="text">50,000</span><span class="unit">원</span></span>
														</span>
														<span class="data-item quantity">
															<span class="data-head">수량</span>
															<span class="data-body"><span class="text">1</span><span class="unit">개</span></span>
														</span>
														<!-- <span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">수량</span>
															<del class="data-body"><span class="text">1</span><span class="unit">개</span></del>
														</span> -->
													</div>
												</div>
												<!-- <div class="goods-form"></div>
												<div class="goods-body"></div> -->
												<!-- <div class="goods-data">
													<div class="data-list">
														<span class="data-item">
															<span class="data-head">배송정보</span>
															<span class="data-body"><strong class="em accent-01">14시까지 결제</strong> 시 당일출고 예정 - 대한통운</span>
														</span>
														<span class="data-item">
															<span class="data-head">배송비</span>
															<span class="data-body">
																<strong class="text">3,000</strong><span class="unit">원</span>
																<span class="em accent-01 sub-text">(50,000원 이상 구매시 무료배송)</span>
																<span class="wbr">제주도 4,000원, 도서산간 7,000원 추가</span></span>
														</span>
													</div>
												</div> -->
												<div class="goods-tracking">
													<span class="goods-status"><strong class="em normal-01">출고완료</strong></span>
												</div>
												<!-- <div class="goods-func">
													<div class="button-display">
														<span class="button-area">
															<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">바로구매</span></button>
															<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">삭제</span></button>
														</span>
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //goods-display -->
							<br /><br /><br />
							<!-- goods-display -->
							<div class="goods-display module-b style-a type-d">
								<div class="goods-list">
									<div class="goods-item">
										<div class="goods-wrap">
											<!-- <div class="goods-select"><span class="form moudle-a style-b accent-01 small-1x"><input class="form-elem" type="check" /></span></div> -->
											<div class="goods-figure">
												<a href="#" class="goods-cover"><img class="thumbnail" src="../../../assets/images/@temp/img_goods-01.png" alt="상품이미지" /></a>
											</div>
											<div class="goods-inform">
												<div class="goods-noti">
													<p class="para">7일 동안만 구매가 가능해요!</p>
												</div>
												<div class="goods-head">
													<!-- <p class="goods-caption"></p> -->
													<!-- <p class="goods-order-number"><span class="head">주문번호</span><span class="body">20000202020200</span></p> -->
													<p class="goods-subject"><strong class="goods-name">하이언스 더 베이직 수딩플러스 앰플 55ml</strong></p>
													<!-- <p class="goods-summary"></p> -->
												</div>
												<div class="goods-sale">
													<div class="data-list">
														<!-- <span class="data-item">
															<span class="data-head">정가</span>
															<del class="data-body"><span class="text">10,000</span><span class="unit">원</span></del>
														</span> -->
														<span class="data-item">
															<span class="data-head">판매가</span>
															<span class="data-body"><strong class="text">8,600</strong><span class="unit">원</span></span>
														</span>
														<!-- <span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">쿠폰할인가</span>
															<del class="data-body"><span class="text">9,500</span><span class="unit">원</span></del>
														</span>
														<span class="data-item">
															<span class="data-head">수량</span>
															<del class="data-body"><span class="text">1</span><span class="unit">개</span></del>
														</span> -->
													</div>
												</div>
												<!-- <div class="goods-form"></div>
												<div class="goods-body"></div> -->
												<div class="goods-data">
													<div class="data-list">
														<div class="data-item">
															<span class="data-head">배송정보</span>
															<span class="data-body"><strong class="em accent-01">14시까지 결제</strong> 시 당일출고 예정 - 대한통운</span>
														</div>
														<div class="data-item">
															<span class="data-head">배송비</span>
															<span class="data-body">
																<strong class="text">3,000</strong><span class="unit">원</span>
																<span class="em accent-01 sub-text">(50,000원 이상 구매시 무료배송)</span>
																<span class="wbr">제주도 4,000원, 도서산간 7,000원 추가</span>
															</span>
														</div>
													</div>
												</div>
												<!-- <div class="goods-tracking">
													<span class="goods-stauts"><strong class="em accent-02">결제실패</strong></span>
												</div> -->
												<!-- <div class="goods-func">
													<div class="button-display">
														<span class="button-area">
															<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">바로구매</span></button>
															<button class="btn theme-a style-b type-b normal-03 medium" type="button"><span class="btn-text">삭제</span></button>
														</span>
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //goods-display -->
						</div>
					</div>
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>