<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Basic User Interface</title>
	<link rel="shortcut icon" href="./../../assets/images/bui/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./../../assets/css/input.css" />
</head>
<body>

<div class="form-area">
	<span class="form textfield module-a style-a">
		<input class="form-elem" type="text" oninput="this.value.length > 0 ? this.parentElement.classList.add('typed') : this.parentElement.classList.remove('typed');" />
		<!-- <span clas="form-util">
			<span class="form-time">05:00</span>
			<span class="form-unit">원</span>
			<span class="form-unit">%</span>
		</span> -->
	</span>
</div>
<div class="form-area">
	<span class="form textfield module-a style-b">
		<input class="form-elem" type="text" oninput="this.value.length > 0 ? this.parentElement.classList.add('typed') : this.parentElement.classList.remove('typed');" />
		<!-- <span clas="form-util">
			<span class="form-time">05:00</span>
			<span class="form-unit">원</span>
			<span class="form-unit">%</span>
		</span> -->
	</span>
</div>
<div class="form-area">
	<span class="form textfield module-a style-c">
		<input class="form-elem" type="text" oninput="this.value.length > 0 ? this.parentElement.classList.add('typed') : this.parentElement.classList.remove('typed');" />
		<!-- <span clas="form-util">
			<span class="form-time">05:00</span>
			<span class="form-unit">원</span>
			<span class="form-unit">%</span>
		</span> -->
	</span>
</div>



<br /><br /><br />

<span class="form textfield module-a style-a"><input class="form-elem" type="search"/></span>

<br /><br /><br />

<span class="form search module-a style-a"><input class="form-elem" type="search"/></span>

<br /><br /><br />

<span class="form select module-a style-a">
	<select class="form-elem">
		<option>select option 1</option>
		<option>select option 2</option>
		<option>select option 3</option>
		<option>select option 4</option>
	</select>
</span>
<br /><br /><br />

<span class="form textarea module-a style-a"><textarea class="form-elem" cols="80" rows="4"></textarea></span>

<br /><br /><br />

<label class="form checkbox module-a style-a"><input type="checkbox" class="form-elem"/> <span class="form-text">체크박스 버튼 1</span></label>
<label class="form checkbox module-a style-a"><input type="checkbox" class="form-elem"/> <span class="form-text">체크박스 버튼 2</span></label>
<label class="form checkbox module-a style-a"><input type="checkbox" class="form-elem"/> <span class="form-text">체크박스 버튼 2</span></label>
<label class="form checkbox module-a style-a"><input type="checkbox" class="form-elem"/> <span class="form-text">체크박스 버튼 4</span></label>

<br /><br /><br />





</body>
</html>



