<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'blank',
	pageStyle: '',
	pageJavascript: ''
}) %>
</head>
<body>
<!-- wrap -->
<div id="wrap" style="display: none;">
	<!-- page -->
	<div id="page">
		<div class="page-head" id="header">
			<h1 class="page-subject"><span class="page-name">다이렉트샵</span></h1>	
		</div>
		<div class="page-body" id="container">
			<!-- local -->
			<div id="local">
				<div class="local-head">
					<h2 class="local-subject"><span class="local-name">요금 먼저 선택</span></h2>
				</div>
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<div class="content-head">
							<h3 class="content-subject"><span class="content-name">월 3만원대</span></h3>
						</div>
						<div class="content-body">
							<!-- section -->
							<div class="section">
								<div class="section-wrap">
									<div class="section-head">
										<h4 class="section-subject"><span class="section-name"></span></h4>
									</div>
									<div class="section-body">
										<!-- 내용 -->
									</div>
								</div>
							</div>
							<!-- //section -->
						</div>
					</div>
					<!-- //content -->
				</div>
			</div>
			<!-- //local -->
		</div>
		<div class="page-foot" id="footer"></div>
	</div>
	<!-- //page -->
</div>
<!-- //wrap -->










































<div id="wrap">
	<!-- page -->
	<div id="page">
		<div class="page-head" id="header">
			<h1 class="page-subject"><span class="page-name">USELLER</span></h1>		
			<!-- section -->
			<div class="section page-navi">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name">목차</span></h2>
					</div>
					<div class="section-body">
						<ul class="navi-list">
							<li class="navi-item"><a href="#" class="navi-name">메뉴1</a></li>
							<li class="navi-item"><a href="#" class="navi-name">메뉴1</a></li>
							<li class="navi-item"><a href="#" class="navi-name">메뉴1</a></li>
							<li class="navi-item"><a href="#" class="navi-name">메뉴1</a></li>
							<li class="navi-item"><a href="#" class="navi-name">메뉴1</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //section -->
			<!-- section -->
			<div class="section page-util">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name">회원메뉴</span></h2>
					</div>
					<div class="section-body">
						<ul class="navi-list">
							<li class="navi-item"><a href="#" class="navi-name">로그인</a></li>
							<li class="navi-item"><a href="#" class="navi-name">회원가입</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //section -->
		</div>
		<!-- page-body -->
		<div class="page-body page-intro page-order">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">근무현황</span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title"><span class="content-name">연차 등록</span></h3>
							<div class="content-navi">
								<a class="btn" href="#"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg"><title>뒤로</title><path d="M12.7,5.7a1,1,0,0,0-1.4-1.4l-7,7a1,1,0,0,0,0,1.4l7,7a1,1,0,0,0,1.4-1.4L7.4,13H19a1,1,0,0,0,0-2H7.4Z"></path></svg></a>
							</div>
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
				<!-- local-util -->
				<div class="local-util">
					<div class="button-display module-a style-b type-d">
						<span class="button-area">
							<a href="#signoffForm" class="btn module-b style-a type-fill accent-01 x-large flex" onclick="toastPopup.active('signoffForm');"><span class="btn-text">총 #개 결재하기</span></a>
						</span>
					</div>
				</div>
				<!-- //local-util -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
	<%-include('../_templates/_content.popup.ejs') %>
</div>
</body>
</html>