		<!--page-side-->
		<div class="page-side" id="aside" data-bui-toggle="layoutPageSide">
			<!--aside-body-->
			<div class="aside-body">
				<!--section-->
				<div class="section toc" id="tableOfContent">
					<div class="section-head">
						<h2 class="section-title"><span class="section-name">Table of Content</span></h2>
					</div>
					<div class="section-body">
						<ul class="gnb-list">
							<li class="gnb-item"><span class="gnb-name">preview</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../preview/front.html">front</a></li>
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../preview/admin.html">admin</a></li> -->
								</ul>
							</li>
							<li class="gnb-item"><span class="gnb-name">snippet</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/color.html">color</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/font.html">font</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/icon.html">icon</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/button.html">button</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/mark.html">mark</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/form.html">form</a></li>
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/table.html">table</a></li> -->
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/list.html">list</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/board.html">board</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/goods.html">goods</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/fieldset.html">fieldset</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/tab.html">tab</a></li>
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/post.html">post</a></li> -->
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/tooltip.html">tooltip</a></li> -->
									<li class="lnb-item"><a class="lnb-name" href="./../snippet/interaction.html">interaction</a></li><!-- bui.js -->
									
									<!-- 해야 하는것 -->
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/utility.html">utility</a></li> -->
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/popup.html">popup</a></li> -->
									<!-- <li class="lnb-item"><a class="lnb-name" href="./../snippet/goods.html">goods</a></li> -->

								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!--//section-->
			</div>
			<!--//aside-body-->
		</div>
		<!--//page-side-->
		<script type="text/javascript">
			const layoutPageSide = new buiToggle('[data-bui-toggle="layoutPageSide"]', {
				inactiveButton: true,
				inactiveButtonText: '<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg"><title>닫기</title><path d="M10.5382 12L3 4.46179L4.46179 3L12 10.5382L19.5382 3L21 4.46179L13.4618 12L21 19.5382L19.5382 21L12 13.4618L4.46179 21L3 19.5382L10.5382 12Z"></path></svg>',
				inactiveButtonClass: 'btn close',
				reactTarget: 'html',
				reactTargetActiveClass: 'active-page-side',
			});
			document.addEventListener('DOMContentLoaded', function() {

				// var pageSide = new buiToggle('[data-bui-toggle="pageSide"]', {
				// 	close: true,
				// 	closeButtonClass: 'btn close',
				// 	closeButtonText: '<svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24" width="24" height="24"><title>닫기</title><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>',
				// 	focusin: true,
				// 	focusout: true,
				// });	
			});
		</script>