<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Basic User Interface</title>
<link rel="shortcut icon" href="./../../assets/images/bui/favicon.ico" />
<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css" />
<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/<%= pageStyle %>" /><% } %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src='https://unpkg.com/focus-within-polyfill/dist/focus-within-polyfill.js'></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

<!-- <script type="text/javascript" src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script> -->
<!-- <script type="text/javascript" src="./../../assets/js/polyfill.js"></script> -->

<script type="text/javascript" src="./../../assets/js/bui.js"></script>
<script type="text/javascript" src="./../../assets/js/bui.template.js" defer></script>
<% if (pageJavascript) { %><script type="text/javascript" src="./../../assets/js/<%= pageJavascript %>" defer></script><% } %>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var currentPage = function(pageItem, pageName) {
			var localItems = document.querySelectorAll(pageItem);
			Array.prototype.forEach.call(localItems, function(localItem, index) {
				var localName = localItem.querySelector(pageName).getAttribute('href');
				if (localName.substring(localName.lastIndexOf('/') + 1) === document.URL.substring(document.URL.lastIndexOf('/') + 1)) {
					localItem.classList.add('current');
				}
			});
		}
		currentPage('#tableOfContent .lnb-item', '.lnb-name');		
	});
</script>