		<!--page-foot-->
		<div class="page-foot" id="foot">
			<p class="copyright">&copy; Copyright <a href="mailto:codenamic@gmail.com">codenamic</a></p>
		</div>
		<!--//page-foot-->
		<div class="page-baseline" id="pageBaseline"></div>
		<div class="page-grid" id="pageGrid">
			<div class="grid-list"><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span></div>
		</div>
		<!--//page-control-->