/**
 * @type module
 * @name data-table
 */

.data-table.module-c {
	overflow-x: auto;
	@include overflow-scroll(default, dark);
	border-top: 2px solid color(base, 020);
	border-bottom: 1px solid color(base, 060);

	
	>table {
		table-layout: fixed;
		width: 100%;
		min-width: 1200rem;
		@include font((outline: body, size: small-1x)...);
		border-spacing: 0;
		border-collapse: collapse;
		border-right: hidden;
		border-left: hidden;
		
		caption {
			overflow: hidden;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			line-height: 1px;
			font-size: 1px;
			color: transparent;
			border: 0;
			clip: rect(0 0 0 0);
			clip: rect(0,0,0,0);
		}

		// laptop
		@include respond-above(large-1x) {
			@include font((outline: body, size: small)...);
		}

		>thead {
				>tr {
					>th {
						padding: 1em 1.5em;
						color: color(base, 010);
						@include font((weight: bold)...);
						border-right: 1px solid color(base, 070);
						border-bottom: 1px solid color(base, 060);
						border-left: 1px solid color(base, 070);
					}
				}
		}
		>tbody {
			>tr {
				>td {
					padding: 1em 1.5em;
					color: color(base, 030);
					border-right: 1px solid color(base, 070);
					border-left: 1px solid color(base, 070);
				}
			}

			>tr:nth-child(even) {
				background-color: color(base, 010);
			}
		}
	}
}
