<!--widget-->
<div class="widget toolbar">
	<div class="widget-head"><div class="widget-title"><p class="widget-name">도구모음</p></div></div>
	<div class="widget-body">
		<ul class="data-list">
			<li class="data-item goto-top"><a class="data-name" href="#page"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>맨 위로 이동</title><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path></svg></a></li>
		</ul>
	</div>
</div>
<!--//widget-->