<% if(itemType === 'a') { %>
<div class="goods-list">
	<% for(var i = 0; i < iteration; i++) { %>
	<div class="goods-item">
		<div class="goods-wrap" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
			<div class="goods-inform">
				<div class="goods-head">
					<p class="goods-title">
						<span class="goods-name">홍길순</span>
						<span class="goods-position">선임</span>
						<span class="goods-department">경영기획팀</span>
						<span class="goods-team">재무/회계</span>
					</p>
				</div>
				<div class="goods-type">
					<p class="data-list">
						<span class="data-item"><span class="lamp module-a style-c type-line normal-10 small"><span class="lamp-text">정상근무</span></span></span>
					</p>
				</div>
				<div class="goods-data">
					<ul class="data-list">
						<li class="data-item mobilephone">
							<div class="head">휴대전화</div>
							<div class="body">
								<div class="text" tabindex="0">010-1234-5678</div>
								<!-- tooltip -->
								<div class="tooltip module-a style-a type-b">
									<div class="tooltip-wrap">
										<div class="tooltip-body">
											<ul class="data-list">
												<li class="data-item"><a href="tel:010-1234-5678">전화걸기</a></li>
												<li class="data-item"><a href="#">복사하기</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- //tooltip -->
							</div>
						</li>
						<li class="data-item email">
							<span class="head">이메일</span>
							<span class="body"><a class="text" href="mailto:dahye0203@ucomp.co.kr">dahye0203@ucomp.co.kr</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="goods-item">
		<div class="goods-wrap" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
			<div class="goods-inform">
				<div class="goods-head">
					<p class="goods-title">
						<span class="goods-name">홍길순</span>
						<span class="goods-position">선임</span>
						<span class="goods-department">경영기획팀</span>
						<span class="goods-team">재무/회계</span>
					</p>
				</div>
				<div class="goods-type">
					<p class="data-list">
						<span class="data-item"><span class="lamp module-a style-c type-fill accent-03 small"><span class="lamp-text">스마트데이</span></span></span>
					</p>
				</div>
				<div class="goods-data">
					<ul class="data-list">
						<li class="data-item mobilephone">
							<div class="head">휴대전화</div>
							<div class="body">
								<div class="text" tabindex="0">010-1234-5678</div>
								<!-- tooltip -->
								<div class="tooltip module-a style-a type-b">
									<div class="tooltip-wrap">
										<div class="tooltip-body">
											<ul class="data-list">
												<li class="data-item"><a href="tel:010-1234-5678">전화걸기</a></li>
												<li class="data-item"><a href="#">복사하기</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- //tooltip -->
							</div>
						</li>
						<li class="data-item email">
							<span class="head">이메일</span>
							<span class="body"><a class="text" href="mailto:dahye0203@ucomp.co.kr">dahye0203@ucomp.co.kr</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="goods-item">
		<div class="goods-wrap" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
			<div class="goods-inform">
				<div class="goods-type">
					<p class="data-list">
						<span class="data-item"><span class="lamp module-a style-c type-line normal-04 small"><span class="lamp-text">휴가</span></span></span>
					</p>
				</div>
				<div class="goods-head">
					<p class="goods-title">
						<span class="goods-name">홍길순</span>
						<span class="goods-position">선임</span>
						<span class="goods-department">경영기획팀</span>
						<span class="goods-team">재무/회계</span>
					</p>
				</div>
				<div class="goods-data">
					<ul class="data-list">
						<li class="data-item mobilephone">
							<div class="head">휴대전화</div>
							<div class="body">
								<div class="text" tabindex="0">010-1234-5678</div>
								<!-- tooltip -->
								<div class="tooltip module-a style-a type-b">
									<div class="tooltip-wrap">
										<div class="tooltip-body">
											<ul class="data-list">
												<li class="data-item"><a href="tel:010-1234-5678">전화걸기</a></li>
												<li class="data-item"><a href="#">복사하기</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- //tooltip -->
							</div>
						</li>
						<li class="data-item email">
							<span class="head">이메일</span>
							<span class="body"><a class="text" href="mailto:dahye0203@ucomp.co.kr">dahye0203@ucomp.co.kr</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>
<% } %>