<!-- post-list -->
<% if(itemType === 'a') { %>
<div class="post-list">
	<% for(var i = 0; i < iteration; i++) { %>
	<div class="post-item" data-bui-expand="postItem">
		<div class="post-wrap">
			<div class="post-inform">
				<div class="post-type">
					<p class="data-list">
						<span class="data-item"><span class="mark module-b style-c type-fill accent-01 small"><span class="mark-text">N</span></span></span>
						<span class="data-item"><span class="mark module-b style-c type-line normal-01 small"><span class="mark-text">필독 D-29</span></span></span>
						<span class="data-item"><span class="mark module-b style-c type-line normal-03 small"><span class="mark-text">공지</span></span></span>
					</p>
				</div>
				<div class="post-head">
					<p class="post-title"><span class="post-name">급여명세서 교부 의무화 및 기재사항 변경 안내 추가공지(Q&A)</span></p>
				</div>
				<div class="post-data">
					<ul class="data-list">
						<li class="data-item writer" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
							<span class="head">글쓴이</span>
							<span class="body">
								<span class="name">홍길순</span>
							</span>
						</li>
						<li class="data-item posted">
							<span class="head">등록일</span>
							<span class="body">
								<span class="date">2022-02-07</span>
								<span class="time">16:23</span>
							</span>
						</li>
						<li class="data-item attachments">
							<div class="head" tabindex="0">첨부파일</div>
							<div class="body">
								<!-- tooltip -->
								<div class="tooltip module-a style-a type-b">
									<div class="tooltip-wrap">
										<div class="tooltip-body">
											<ul class="data-list">
												<li class="data-item"><a href="#"><span class="file-name">수강안내문(학습자배포용)</span><span class="extension">.pdf</span></a></li>
												<li class="data-item"><a href="#"><span class="file-name">영업비밀보호의 첫걸음 전사원을 교육하라_요약집</span><span class="extension">.zip</span></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- //tooltip -->
							</div>
						</li>
					</ul>
				</div>
				<div class="post-body">
					안녕하세요<br />
					경영기획팀 입니다.<br />
					급여명세서 기재사항 변경과 관련하여 자주 묻는 질문을 정리하여 배포 하오니 참고 하시기 바랍니다.<br /><br />
					Q : 기본급,연봉,퇴직금 등이 줄어든 것인가요?<br />
					A:  유컴패니온 직원들의 근로계약서는 기본급, 시간외 근로수당등 제수당을 포함하는 포괄임금제 형태로 작성되어 있습니다.<br /><br />
					기존에는 편의상 기본급으로만 명시되어 급여명세서가 교부 되었으나, 근로기준법이 개정되면서 임금 구성항목에 맞도록<br />
					기본급, 연장수당금액 등을 명확하게 기재하도록 되어 있으므로 근로계약서상 계약된 내용대로 급여명세서 양식도 변경하게 되었습니다.<br />
					따라서 연봉, 퇴직금이 줄어드는 것은 아닙니다.
				</div>
			</div>
		</div>
		<div class="post-util">
			<div class="button-display module-a style-b type-d">
				<span class="button-area">
	
				</span>
			</div>
		</div>
		<div class="post-side">	
			<!-- comment-display --> 
			<div class="comment-display module-a style-a type-a">
				<!-- comment-info -->
				<div class="comment-info">
					<div class="info-list">
						<div class="info-item">
							<!-- data-list -->
							<p class="data-list">
								<span class="data-item">
									<span class="head">댓글</span>
									<span class="body">1개</span>
								</span>
							</p>
							<!-- //data-list -->
						</div>
					</div>
				</div>
				<!-- //comment-info -->
				<!-- comment-write -->
				<form class="comment-write">
					<!-- submit-form -->
					<fieldset class="submit-form module-a">
						<legend>댓글 등록 서식</legend>
						<div class="form-list">
							<div class="form-item">
								<div class="form-head"><span class="form-name">댓글 작성</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textarea module-b style-b type-line normal-04 medium flex" data-bui-form-value>
											<textarea class="form-elem" placeholder="내용을 입력해주세요." title="댓글 작성" oninput="buiFormResize(this);"></textarea>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-util">
							<div class="button-display module-a style-a type-b">
								<span class="button-area">
									<button type="button" class="btn module-c style-b type-line accent-02 small"><span class="btn-text">취소</span></button>
									<button type="submit" class="btn module-b style-b type-fill accent-02 small"><span class="btn-text">등록</span></button>
								</span>
							</div>
						</div>
					</fieldset>
					<!-- //submit-form -->
				</form>
				<!-- //comment-write -->
				<!-- comment-list -->
				<div class="comment-list">
					<div class="comment-item">
						<div class="comment-wrap">
							<div class="comment-inform">
								<div class="comment-data">
									<ul class="data-list">
										<li class="data-item writer" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
											<span class="head">글쓴이</span>
											<span class="body">
												<span class="name">홍길순</span>
											</span>
										</li>
										<li class="data-item posted">
											<span class="head">등록일</span>
											<span class="body">
												<span class="date">2022-02-07</span>
												<span class="time">16:23</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="comment-body">
									현재 mySUNI 파견지에서 근무를 하고 있어 본사 내 사물함 정리가 어렵습니다. 택배 발송 가능한지 문의 드립니다.
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="comment-wrap">
							<div class="comment-inform">
								<div class="comment-data">
									<ul class="data-list">
										<li class="data-item writer" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
											<span class="head">글쓴이</span>
											<span class="body">
												<span class="name">홍길순</span>
											</span>
										</li>
										<li class="data-item posted">
											<span class="head">등록일</span>
											<span class="body">
												<span class="date">2022-02-07</span>
												<span class="time">16:23</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="comment-body">
									안녕하세요!!<br />
									내가 쓴 댓글에만 수정 삭제 버튼<br />
									노출시켜 주세요~
								</div>
								<div class="comment-util">
									<div class="button-display">
										<span class="button-area">
											<button class="btn module-a normal-03 small"><span class="btn-text">수정</span></button>
											<button class="btn module-a normal-03 small"><span class="btn-text">삭제</span></button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="comment-item">
						<div class="comment-wrap" style="display: none;">
							<div class="comment-inform">
								<div class="comment-data">
									<ul class="data-list">
										<li class="data-item writer" style="--default-picture: url(./../../assets/images/@temp/img_profile_02.png);">
											<span class="head">글쓴이</span>
											<span class="body">
												<span class="name">홍길순</span>
											</span>
										</li>
										<li class="data-item posted">
											<span class="head">등록일</span>
											<span class="body">
												<span class="date">2022-02-07</span>
												<span class="time">16:23</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="comment-body">
									안녕하세요!!<br />
									내가 쓴 댓글에만 수정 삭제 버튼<br />
									노출시켜 주세요~
								</div>
							</div>
						</div>
						<div class="comment-side">
							<!-- reply-display -->
							<div class="reply-display">
								<!-- comment-write -->
								<form class="reply-write">
									<!-- submit-form -->
									<fieldset class="submit-form module-a">
										<legend>답글 등록 서식</legend>
										<div class="form-list">
											<div class="form-item">
												<div class="form-head"><span class="form-name">답글 작성</span></div>
												<div class="form-body">
													<div class="form-area">
														<span class="form textarea module-b style-b type-line normal-04 medium flex" data-bui-form-value="수정할 경우 화면입니다! 프로필, 내용 등이 날라가고 텍스트필드로 변경됩니다 ㅎㅎ 버튼도 수정으로 나오게..">
															<textarea class="form-elem" placeholder="내용을 입력해주세요." title="댓글 작성" oninput="buiFormResize(this);">수정할 경우 화면입니다! 프로필, 내용 등이 날라가고 텍스트필드로 변경됩니다 ㅎㅎ 버튼도 수정으로 나오게..</textarea>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-util">
											<div class="button-display module-a style-a type-b">
												<span class="button-area">
													<button type="button" class="btn module-c style-b type-line accent-02 small"><span class="btn-text">취소</span></button>
													<button type="submit" class="btn module-b style-b type-fill accent-02 small"><span class="btn-text">등록</span></button>
												</span>
											</div>
										</div>
									</fieldset>
									<!-- //submit-form -->
								</form>
								<!-- //reply-write -->
							</div>
							<!-- //reply-display -->
						</div>
					</div>
				</div>
				<!-- //comment-list -->
			</div>
			<!-- //comment-display -->
		</div>
	</div>
	<% } %>
</div>
<% } %>
<!-- //post-list -->