<div class="post-item">
	<div class="post-wrap">
		<div class="post-inform">
			<div class="post-type">
				<p class="data-list">
					<span class="data-item"><span class="mark module-b style-b type-fill normal-04 medium"><span class="mark-text">신청</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill normal-02 medium"><span class="mark-text">미결</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill accent-03 medium"><span class="mark-text">완료</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-line normal-04 medium"><span class="mark-text">한수진 대표이사</span></span></span>
				</p>
			</div>
			<div class="post-head">
				<p class="post-title">
					<a class="post-name" href="#">리프레쉬 휴가 - 21/12/17 ~ 22/01/31</a>
				</p>
			</div>
			<div class="post-data">
				<ul class="data-list">
					<li class="data-item writer">
						<span class="head">글쓴이</span>
						<span class="body">
							<span class="name">홍길순</span>
							<span class="department">경영기획팀</span>
							<span class="team">재무/회계</span>
						</span>
					</li>
					<li class="data-item posted">
						<span class="head">등록일</span>
						<span class="body">
							<span class="date">2022-02-07</span>
							<span class="time">16:23</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="post-item">
	<div class="post-wrap">
		<div class="post-inform">
			<div class="post-type">
				<p class="data-list">
					<span class="data-item"><span class="mark module-b style-b type-fill normal-04 medium"><span class="mark-text">신청</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill normal-02 medium"><span class="mark-text">미결</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill accent-03 medium"><span class="mark-text">완료</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-line normal-04 medium"><span class="mark-text">한수진 대표이사</span></span></span>
				</p>
			</div>
			<div class="post-head">
				<p class="post-title">
					<a class="post-name" href="#">2월 지출결의_김민지 - 처리 상태</a>
				</p>
			</div>
			<div class="post-data">
				<ul class="data-list">
					<li class="data-item writer">
						<span class="head">글쓴이</span>
						<span class="body">
							<span class="name">홍길순</span>
							<span class="department">경영기획팀</span>
							<span class="team">재무/회계</span>
						</span>
					</li>
					<li class="data-item posted">
						<span class="head">등록일</span>
						<span class="body">
							<span class="date">2022-02-07</span>
							<span class="time">16:23</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="post-item">
	<div class="post-wrap">
		<div class="post-select">
			<span class="form module-a style-c type-a medium checkbox"><input type="checkbox" class="form-elem" title="항목 선택"></span>
		</div>
		<div class="post-inform">
			<div class="post-type">
				<p class="data-list">
					<span class="data-item"><span class="mark module-b style-b type-fill normal-04 medium"><span class="mark-text">신청</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill normal-02 medium"><span class="mark-text">미결</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill accent-03 medium"><span class="mark-text">완료</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-line normal-04 medium"><span class="mark-text">한수진 대표이사</span></span></span>
				</p>
			</div>
			<div class="post-head">
				<p class="post-title">
					<a class="post-name" href="#">리프레쉬 휴가 - 21/12/17 ~ 22/01/31</a>
				</p>
			</div>
			<div class="post-data">
				<ul class="data-list">
					<li class="data-item status">
						<span class="head">처리 상태</span>
						<span class="body">
							<span class="em normal-04">신청이 완료되었습니다.</span>
						</span>
					</li>
					<li class="data-item posted">
						<span class="head">등록일</span>
						<span class="body">
							<span class="date">2022-02-07</span>
							<span class="time">16:23</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="post-item">
	<div class="post-wrap">
		<div class="post-select">
			<span class="form module-a style-c type-a medium checkbox"><input type="checkbox" class="form-elem" title="항목 선택"></span>
		</div>
		<div class="post-inform">
			<div class="post-type">
				<p class="data-list">
					<span class="data-item"><span class="mark module-b style-b type-fill accent-01 medium"><span class="mark-text">반려</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-fill accent-04 medium"><span class="mark-text">보류</span></span></span>
					<span class="data-item"><span class="mark module-b style-b type-line normal-04 medium"><span class="mark-text">한수진 대표이사</span></span></span>
				</p>
			</div>
			<div class="post-head">
				<p class="post-title">
					<a class="post-name" href="#">2월 지출결의_김민지 - 처리 상태</a>
				</p>
			</div>
			<div class="post-data">
				<ul class="data-list">
					<li class="data-item status">
						<span class="head"></span>
						<span class="body">
							<span class="em accent-01">반려 및 보류 사유가 노출됩니다.</span>
						</span>
					</li>
					<li class="data-item posted">
						<span class="head">등록일</span>
						<span class="body">
							<span class="date">2022-02-07</span>
							<span class="time">16:23</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>