<% if(itemType === 'a') { %>
<div class="post-list">
	<% for(var i = 0; i < iteration; i++) { %>
	<li class="post-item">
		<div class="post-wrap">
			<div class="post-figure"><a href="#imageEnlarge" class="post-thumbnail" title="확대보기" onclick="imageEnlarge.active('imageEnlarge');"><img src="./../../assets/images/@temp/img_receipt_01_enlarge.png" alt="" /></a></div>
		</div>
	</li>
	<% } %>
</div>
<% } %>